<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link href="/CSS/home.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    </head>

    <body>
        <header>
            <p><h1>Todo</h1></p>
        </header>

        <div id="app-container">
            
            <a href="#form-container">Hello<i class="fas fa-plus"></i></a>

            <div id="form-container">

                <form id="todo-form">
                    <input type="text" name="title" placeholder="Title">
                    <br>
                    <textarea name="description" rows="3" cols="30" placeholder="Description"></textarea>
                    <br>
                    <select name="category" id="category">
                        <option value="cat1">cat1</option>
                        <option value="cat2">cat2</option>
                    </select>
                    <input type="date" id="due_date" name="due_date"
                        value="2018-07-22"
                        min="2018-01-01" max="2018-12-31">
                    <br>
                    <input type="submit" value="Add Task">
                    <input type="reset" value="Reset">
                </form>

            </div>

            <div id="task-container">

                <div class="task-item">
                    <div class="task">
                        <p class="title">Title</p>
                        <p class="desciption"><small>Description</small></p>
                    </div>
                    <div class="category-tag">
                        catName
                    </div>
                </div>

            </div>

        </div>
    </body>

</html>